/* Sembunyikan kursor asli */
* {
    cursor: none;
  }
  
  /* Kursor kustom */
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D8F247; 
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 9998;
    transition: width 0.2s, height 0.2s, transform 0.2s, background-color 0.2s;
  }
  
  .custom-cursor.highlight {
    background-color: #B1B1B1; 
  }
  
  .custom-cursor:active {
    transform: scale(1.5);
  }
  
::selection {
    background-color: #030C18;
    color: #FFFF;
  }
  
  ::-moz-selection {
    background-color: #030C18;
    color: #FFFF;
  }
  
#myrisscoding {
  z-index: 9999;
}