@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: #030C18;
}

#smooth-wrapper {
  overflow: hidden; /* Prevents overflow */
  height: 100vh; /* Full height of the viewport */
}

#smooth-content {
  height: 200vh; /* Adjust this based on your content height */
}
